body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 0;
}

.square {
  width: 50px;
  height: 50px;
  color: dodgerblue
}

.inside {
  position: absolute;
  z-index: -1;
}

.triangle.top {
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 50vh solid red;
}

.inside.top {
  margin-top: -50vh;
  margin-left: -20vw;
}

.hoverable.top{
}
.hoverable.top:hover {
  border-top: 50vh solid blue !important;

  animation: reduce-top 5s forwards;
}

@keyframes reduce-top {
  100% {
    width: 100%;
    height: 100%;
    border-width: 30px;
    color: green;
    z-index: 9;
  }
}

.triangle.left {
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-left: 50vw solid green;
}

.triangle.right {
  border-top: 50vh solid transparent;
  border-bottom: 50vh solid transparent;
  border-right: 50vw solid orange;
  margin-left: 50vw;
}

.triangle.bottom {
  margin-top: 49.9999vh;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50vh solid blue;
}